
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #000000; */
    background-image: url(https://t4.ftcdn.net/jpg/02/86/71/41/360_F_286714132_8gfqK7xmQwPQyppXUetXV3IJ3RP70O9z.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container{
    /* background-color: #aee4db; */
    background-image: url(https://sun9-45.userapi.com/impf/c846218/v846218490/1c173c/jUe4g5BmWNI.jpg?size=604x454&quality=96&sign=5751ca8ac112cb40bd857e39fb5ff64e&type=album);
    background-size: cover;
    padding: 20px;
    padding-top: 50px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 800px;
    height: 350px;
}

h1{
    margin-bottom: 20px;    
}

.quote-box{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #e6d5d5;
}

.author{
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #485b5e;
}

.profession{
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}

.topics{
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #343a42;
    color: #c9b9b9;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}